langchain
langchain-community
sentence-transformers
spacy
networkx
cdlib
leidenalg
python-louvain
ollama
pypdf
numpy
scikit-learn
pyyaml
pandas
tqdm
streamlit==1.19.0
altair==4.2.2
rank-bm25

# spacy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl